<!doctype html public "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<link href="www/_style.css" rel="stylesheet" type="text/css">
<title>LHC Optics Web Home</title>
</head>

<h1> LHC Optics Web Home </h1>

<hr class="sep">

The website contains information optics models for the LHC. Twiss table, madx
scripts, plots can be browsed by selecting a scenario, an optics configuration
and the data under interest.


<h2> Optics Scenarios</h2>

<ul>
  {% for scn in scenarios %}
  <li> <a href=" {{ scn.name }}/"> {{ scn.label }} </a> {{ scn.shortdesc }}</li>
  {% endfor %}
</ul>

<h2> About </h2>

These LHC Optics Web pages may be accessed via the LHC Project Home (click on
the link for "Lattice and Optics") or directly at
http://cern.ch/proj-lhc-optics-web/.

An easy-to-remember shortcut is:  cern.ch/lhcoptics   You should be able to
type this directly into your Web browser's address bar.

The data is organized in a hierarchy as follows:

<ul>
<li><b>Optics Scenarios</b>: the scenario that can be associated to a
layout and a particular use of the machine a given time (e.g. pp Run 2012,
HL-LHC proton baseline, ATS MD 2015. PbP 2012). </li>

<li><b>Configuration</b>: the state of the machine for which an optics exist (e.g. injection,
end-of-ramp, squeeze 0.50-0.50-3.00-10.00) with a given value of the avaialble
knows. A corresponding madx file will be given for the user to change the
knobs. </li>

<li><b>Selection</b>:
Part of the machine under interest (e.g. whole ring, IR2, ARC34) </li>

<li><b>Sequence</b></dt>: the beamline sequence associated with either
Beam 1 or Beam 2, eg. lhcb1, lhcb2, lhcb4. </li>

<li><b>Data</b>:
The type of data generated by the model (e.g. Twiss parameters, Orbits, Apertures) in tabular form (TFS table, CSV table) or in plots.
</li>

</ul>


<hr class="sep">

<p> Last modification: {{ date}}.
<a href="mailto:riccardo.de.maria@cern.ch?subject=LHC%20Optics">Contact</a>.
&copy; Copyright 2015 CERN.</p>

</body> </html>

